.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 7%;
  background-color: white;
}

.about-container {
  width: 100%;
  max-width: 1200px;
}

.about-box {
  background-color: #BDFFFE;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-content {
  display: flex;
  align-items: center;
}

.about-image img {
  width: 583px;
  border-radius: 10px 0px 0px 0px;
  border: 3px 0px 0px 0px;
  
}

.about-text h2 {
  font-size: 3rem;
  margin-bottom: 30px;
  margin-left: 1.7rem;
}

.mission-vision {
  display: flex;
  flex-direction: column;
}

.mission h3,
.vision h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-left: 2.6rem;
  
}

.mission p,
.vision p {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 2.6rem;
  margin-top: -12px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .about-image img {
    width: 100%; /* Make image take up most of the width */
  }

  .about-text h2 {
    font-size: 2rem;
    padding: 0;
  }
  .about-text h3 {
    font-size: 1.4rem;
  }

  .mission p,
  .vision p {
    font-size: 0.7rem;
    margin-right: 1rem;

  }
}
