.header {
  display: flex;
  justify-content: space-between; /* Keeps logo and nav links in a row */
  align-items: center;
  padding: 4px 60px; /* Adjusted for better spacing */
  background-color: rgba(210, 255, 254, 1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: 60px;
  height: auto;
}

.nav-links :hover {
  color: #e67e00;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px; /* Space between nav items */
  transition: transform 0.5s ease, opacity 0.3s ease;
}

.nav-links li {
  font-size: 0.8rem; /* Smaller font size for nav links */
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
  white-space: nowrap; /* Prevent text from breaking */
}

.nav-links li:hover {
  color: #007acc;
}

.request-demo {
  background-color: rgba(245, 182, 80, 1);
  color: #fff;
  font-size: 0.9rem;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.request-demo:hover {
  background-color: #e67e00;
}

/* New style for constructing text */
.request-demo-container {
  position: relative;
  display: inline-block;
}

.constructing-text {
  font-size: 0.8rem;
  color: black;
  margin-top: 5px; /* Space between the button and text */
  text-align: center;
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.request-demo-container:hover .constructing-text {
  opacity: 1;
}

/* Media Queries for Smaller Screens */

@media (max-width: 768px) {
  .header {
    flex-direction: row; /* Keep elements in a row layout */
    justify-content: space-between;
    padding: 6px 12px; /* Reduced padding for compactness */
  }

  /* Display 4 buttons in a single row */
  .nav-links {
    display: flex; /* Flexbox for layout */
    justify-content: space-between;
    gap: 7px; /* Reduced gap for better alignment */
    width: 80%; /* Adjust width for better fit */
    padding: 1px 0;
    background-color: rgba(210, 255, 254, 1);
  }

  .nav-links li {
    font-size: 0.8rem; /* Smaller font size */
    flex: 1; /* Flex items evenly distribute */
    text-align: center; /* Center text inside links */
    padding: 2px;
  }

  .request-demo {
    width: auto;
    font-size: 0.8rem; /* Smaller button font size */
    padding: 5px 13px;
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 45px; /* Adjust logo size for smaller screens */
  }

  .nav-links li {
    font-size: 0.7rem; /* Smaller font size */
  }

  .request-demo {
    font-size: 0.6rem; /* Smaller button font size */
    padding: 2px 10px; /* Compact padding */
  }
}
